<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Recursos</h1>
      <h3 class="title-page black--text">Equipos y Moviliario</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.devicesCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar Recurso</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
          <div v-show="false">
            <input
              type="file"
              ref="picture"
              accept="image/png, image/jpeg, image/bmp"
              label="Avatar"
              @change="uploadPicture"
            /><input />
          </div>
        </v-flex>
      </v-row>
      <v-container class="my-5">
        <v-card class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col v-for="item in list.data" :key="item.id" cols="12">
                <v-card>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <div class="d-flex d-sm-none justify-center fill-width">
                        <v-avatar class="ma-3" size="150" tile>
                          <v-img :src="item.picture">
                            <v-tooltip top v-if="can(security.devicesPicture)">
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  icon
                                  color="black"
                                  @click="editPicture(item)"
                                >
                                  <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                              </template>
                              <span>Editar Foto</span>
                            </v-tooltip>
                          </v-img>
                        </v-avatar>
                      </div>
                      <v-card-title
                        class="headline"
                        v-text="item.name"
                      ></v-card-title>
                      <v-card-text>
                        <div class="font-weight-normal">
                          <strong>Código:</strong> {{ item.code }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Marca:</strong> {{ item.brand }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Modelo:</strong> {{ item.model }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Tipo:</strong> {{ item.type }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Color:</strong> {{ item.color }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Serie/Dimensiones:</strong> {{ item.serie }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Estado:</strong> {{ item.state }}
                        </div>
                        <div class="font-weight-normal" v-if="item.date">
                          <strong>Fecha de Ingreso:</strong>
                          {{ item.date | moment("DD/MM/YYYY") }}
                        </div>
                        <div class="font-weight-normal" v-else>
                          <strong>Fecha de Ingreso:</strong>
                        </div>
                        <div class="font-weight-normal">
                          <strong>Valor:</strong> S/. {{ item.amount }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Ubicación Física:</strong> {{ item.place }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Observación:</strong> {{ item.detail }}
                        </div>
                      </v-card-text>
                      <v-card-actions>
                        <v-tooltip top v-if="can(security.devicesUpdate)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="showItem(item)"
                              color="success"
                            >
                              <v-icon>mdi-pencil-box-multiple</v-icon>
                            </v-btn>
                          </template>
                          <span
                            >Editar Recurso:
                            {{ item.name }}</span
                          >
                        </v-tooltip>
                        <v-tooltip top v-if="can(security.devicesDelete)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="deleteItem(item)"
                              color="error"
                            >
                              <v-icon>mdi-trash-can</v-icon>
                            </v-btn>
                          </template>
                          <span
                            >Eliminar Recurso:
                            {{ item.name }}</span
                          >
                        </v-tooltip>
                      </v-card-actions>
                    </div>

                    <div class="align-self-center fill-height">
                      <v-avatar class="d-none d-sm-flex ma-3" size="200" tile>
                        <v-img :src="item.picture">
                          <v-tooltip top v-if="can(security.devicesPicture)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                icon
                                color="black"
                                @click="editPicture(item)"
                              >
                                <v-icon>mdi-pencil</v-icon>
                              </v-btn>
                            </template>
                            <span>Editar Foto</span>
                          </v-tooltip>
                        </v-img>
                      </v-avatar>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-container>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.devicesCreate) || can(security.devicesUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.devicesDelete)"
        title="Eliminar Recurso"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    lesson:false,
    remove: false,
    change: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "person", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los recursos
     */
    async listAll(page = 1) {
      let res = await axios.get("/device?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar recursos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear un recurso
     */
    open() {
      this.item = {
        type:"",
        code:"",
        name:"",
        brand:"",
        model:"",
        class:"",
        color:"",
        serie:"",
        state:"",
        date:"",
        amount:"",
        place:"",
        detail:"",
        picture:"",
        photo: null,
        type: "",
        inventoried:true,
        
      };
      this.saveTitle = "Crear Nuevo Recurso";
      this.save = true;
    },
    /**
     * Abrir dialog para editar recurso
     */
    showItem(item) {
      this.item = item;
      this.item.photo = null;
      this.saveTitle = "Editar Recurso";
      this.save = true;
    },
    /**
     * Agregar item a la lista de recursos
     *
     * @param {object} data - recurso agregado
     */
    add(data) {
      this.list.data.unshift(data.device);
      this.item = data.device;
    },
    /**
     * Cargar recurso del servidor
     *
     * @param {object} data - recurso seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/device/${data.id}`, data);
      if (res.status === 200) {
        this.item.code=res.data.device.code;
        this.item.name=res.data.device.name;
        this.item.brand=res.data.device.brand;
        this.item.model=res.data.device.model;
        this.item.type=res.data.device.type;
        this.item.color=res.data.device.color;
        this.item.serie=res.data.device.serie;
        this.item.state=res.data.device.state;
        this.item.date=res.data.device.date;
        this.item.amount=res.data.device.amount;
        this.item.place=res.data.device.place;
        this.item.detail=res.data.device.detail;
        this.item.picture=res.data.device.picture;
      }
    },
    /**
     * Abrir dialog para eliminar recurso
     *
     * @param {object} item - recurso a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de recursos
     *
     * @param {object} data - recurso a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    /**
     * Abrir dialog para grado y seccion
     */
    openLesson(item) {
      this.item = item;
      this.lesson = true;
    },
    /**
     * Abrir inputdialog para guardar imagen
     */
    editPicture(item) {
      this.$refs.picture.click();
      this.item = item;
    },
    /**
     * Actualizar imagen del recurso
     *
     * @param {event} evento que se presenta al selecciona la imagen en el input dialog
     */
    async uploadPicture(event) {
      let formData = new FormData();
      formData.append("photo", event.target.files[0]);
      this.$refs.picture.value = null;

      let res = await axios.post(`/device/${this.item.id}/photo`, formData);
      if (res.status === 200) {
        this.showAlert({
          color: "success",
          text: res.data.message,
        });
        this.item.picture = res.data.device.picture;
      }
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>