<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Nombre-->
            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombre"
                  rules="required|max:255"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.name"
                    prepend-icon="mdi-laptop-chromebook"
                    :items="names"
                    label="Nombre"
                  ></v-combobox>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--Código y Marca-->
            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Codigo"
                  rules="required|max:15"
                >
                  <v-text-field
                    v-model="item.code"
                    :error-messages="errors"
                    :counter="100"
                    label="Código"
                    prepend-icon="mdi-laptop-chromebook"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 md6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Marca"
                  rules="max:255"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.brand"
                    prepend-icon="mdi-laptop-chromebook"
                    :items="brands"
                    label="Marca"
                  ></v-combobox>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--Modelo y Color-->
            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Modelo"
                  rules="max:255"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.model"
                    prepend-icon="mdi-laptop-chromebook"
                    :items="models"
                    label="Modelos"
                  ></v-combobox>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 md6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Color"
                  rules="max:255"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.color"
                    prepend-icon="mdi-laptop-chromebook"
                    :items="colors"
                    label="Color"
                  ></v-combobox>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--Serie y Estado-->
            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie/Dimensión"
                  rules="required|max:15"
                >
                  <v-text-field
                    v-model="item.serie"
                    :error-messages="errors"
                    :counter="15"
                    label="Serie/Dimensión"
                    prepend-icon="mdi-laptop-chromebook"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 md6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Estado"
                  rules="required|oneOf:Bueno,Regular,Malo|max:255"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.state"
                    prepend-icon="mdi-laptop-chromebook"
                    :items="['Bueno', 'Regular', 'Malo']"
                    label="Estado"
                  ></v-combobox>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Fecha de ingreso y valor-->
            <v-row align="center">
              <v-flex cols="12" xs6>
                <v-menu
                  ref="mDate"
                  v-model="mDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Fecha de Ingreso"
                      rules="required"
                    >
                      <v-text-field
                        v-model="dateFormatted"
                        :error-messages="errors"
                        label="Fecha de Ingreso"
                        hint="Formato DD/MM/YYYY"
                        readonly
                        prepend-icon="mdi-laptop-chromebook"
                        v-bind="attrs"
                        @blur="date = parseDate(dateFormatted)"
                        v-on="on"
                      ></v-text-field>
                    </validation-provider>
                  </template>
                  <v-date-picker
                    v-model="date"
                    :active-picker.sync="activePicker"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1900-01-01"
                    no-title
                    @input="mDate = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Valor"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.amount"
                    :error-messages="errors"
                    label="Valor"
                    prepend-icon="mdi-laptop-chromebook"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Ubicación Física -->
            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Ubicación Física"
                  rules="max:255"
                >
                  <v-text-field
                    v-model="item.palce"
                    :error-messages="errors"
                    :counter="255"
                    label="Ubicación Física"
                    prepend-icon="mdi-laptop-chromebook"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Observación -->

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Observación"
                  rules="max:255"
                >
                  <v-text-field
                    v-model="item.detail"
                    :error-messages="errors"
                    label="Observación"
                    prepend-icon="mdi-laptop-chromebook"
                    :counter="255"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <v-row align="center">
              <v-flex cols="12" xs4>
                <v-checkbox
                  v-model="item.inventoried"
                  label="Inventariado"
                ></v-checkbox>
              </v-flex>
              <v-flex cols="12" xs8>
                <validation-provider
                  v-slot="{ errors }"
                  name="Foto"
                  rules="image"
                  v-if="!item.id"
                >
                  <v-file-input
                    :error-messages="errors"
                    v-model="item.photo"
                    accept="image/png, image/jpeg, image/bmp"
                    placeholder="Seleccionar imagen"
                    prepend-icon="mdi-camera"
                    label="Imagen"
                    @change="getImg"
                  ></v-file-input>
                </validation-provider>
                <v-col
                  v-if="srcImg"
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-img :src="srcImg" width="164"></v-img>
                </v-col>
              </v-flex>
            </v-row>
            <br />

            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    loading: false,
    mDate: false,
    dateFormatted: null,
    activePicker: null,
    srcImg: "",
    names: [],
    brands: [],
    models: [],
    colors: [],
  }),
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  computed: {
    ...mapGetters(["person"]),

    date: {
      get: function () {
        return this.item.date;
      },
      set: function (value) {
        this.item.date = value;
      },
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion de la persona seleccionada en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
      this.srcImg = "";
    },
    /**
     * Guardar Persona
     * Permite guardar el persona ya sea seleccionada o uno nueva
     *
     * @emit added - para agregar la persona creada en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        try {
          if (this.item.id) {
            if (this.item.inventoried) this.item.type = "B";
            else this.item.type = "no inventariado";
            res = await axios.put(`/device/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          } else {
            let formData = new FormData();
            if (this.item.inventoried) this.item.type = "B";
            else this.item.type = "no inventariado";
            formData.append("code", this.item.code);
            formData.append("name", this.item.name);
            formData.append("brand", this.item.brand);
            formData.append("model", this.item.model);
            formData.append("type", this.item.type);
            formData.append("color", this.item.color);
            formData.append("serie", this.item.serie);
            formData.append("state", this.item.state);
            formData.append("date", this.item.date);
            formData.append("amount", this.item.amount);
            formData.append("place", this.item.place);
            formData.append("detail", this.item.detail);
            if (this.item.photo) {
              formData.append("photo", this.item.photo);
            }
            res = await axios.post(`/device`, formData);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Nombre: error.name,
        Codigo: error.code,
        Marca: error.brand,
        Modelo: error.model,
        Color: error.color,
        "Serie/Dimensión": error.serie,
        Estado: error.state,
        "Fecha de Ingreso": error.date,
        Valor: error.amount,
        "Ubicación Física": error.place,
        Observación: error.detail,
        Foto: error.photo,
      });
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    /**
     * Mostrar imagen cargada
     *
     * @param {event} evento que se genera al seleccionar la imagen
     */
    getImg(event) {
      if (event) {
        const file = event.name;
        let reader = new FileReader();
        reader.addEventListener("load", () => {
          this.srcImg = reader.result;
        });
        reader.readAsDataURL(event);
      } else {
        this.srcImg = "";
      }
    },
    /**
     * Listar nombres
     */
    async listNames() {
      let res = await axios.get("/device-find", {
        params: { name: "name" },
      });
      this.names = res.data;
    },
    /**
     * Listar marcas
     */
    async listBrands() {
      let res = await axios.get("/device-find", {
        params: { name: "brand" },
      });
      this.brands = res.data;
    },
    /**
     * Listar modelos
     */
    async listModels() {
      let res = await axios.get("/device-find", {
        params: { name: "model" },
      });
      this.models = res.data;
    },
    /**
     * Listar colores
     */
    async listColors() {
      let res = await axios.get("/device-find", {
        params: { name: "color" },
      });
      this.colors = res.data;
    },
  },
  mounted() {
    this.listNames();
    this.listBrands();
    this.listModels();
    this.listColors();
  },
};
</script>