<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card>
      <v-toolbar dark color="success">
        <v-btn icon dark @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title
          >{{ title }}:
          <strong>{{ item.name }}</strong>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items v-if="can(security.groupsPrint)">
          <v-btn dark text @click="exportPdf" :loading="loading" :disabled="loading"
            ><v-icon>mdi-file-pdf-box</v-icon> PDF
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <br />
      <v-card-text>
        <v-container>
          <form @submit.prevent="save" autocomplete="off">
            <validation-observer ref="observer">
              <v-row>
                <v-col class="separate" cols="12" xs="12">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Estudiante"
                    rules="required"
                  >
                    <v-autocomplete
                      hide-selected
                      no-filter
                      prepend-icon="mdi-hail"
                      :error-messages="errors"
                      v-model="candidate.student"
                      :items="students"
                      :search-input.sync="findStudent"
                      label="Seleccionar Estudiante"
                      @keyup="searchData"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeStudent(data.item)"
                        >
                          <v-avatar left>
                            <v-img :src="data.item.picture"></v-img>
                          </v-avatar>
                          <div>
                            {{ data.item.fullName }} - DNI: {{ data.item.dni }}
                          </div>
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <v-list-item-avatar>
                          <img :src="data.item.picture" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.fullName"
                          ></v-list-item-title>
                          <v-list-item-subtitle>
                            {{ data.item.dni }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="separate" cols="12" xs="11" sm="11" md="11">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Cargo"
                    rules="required"
                  >
                    <v-combobox
                      :error-messages="errors"
                      :counter="200"
                      v-model="candidate.position"
                      prepend-icon="mdi-hail"
                      :items="positions"
                      item-text="name"
                      label="Seleccionar Cargo"
                      return-object
                    >
                      <template v-slot:no-data>
                        <v-col cols="12"> No hay datos </v-col>
                      </template>
                    </v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="1" sm="1" md="1">
                  <v-tooltip top v-if="can(security.buysCreateCandidate)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        class="btn-buy"
                        v-bind="attrs"
                        v-on="on"
                        icon
                        color="success"
                        :loading="loading"
                        :disabled="loading"
                        @click="save"
                      >
                        <v-icon>mdi-clipboard-plus-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Guardar Candidato</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </validation-observer>
            <hr />
            <div class="text-center"></div>
          </form>

          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th
                    width="30"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    Item
                  </th>
                  <th
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    Estudiante
                  </th>
                  <th
                    width="300"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    Cargo
                  </th>
                  <th
                    width="10"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(candidate,index) in item.candidates" :key="index">
                  <td>
                    {{index+1}}
                  </td>
                  <td>
                    <v-chip>
                      <v-avatar left>
                        <v-img :src="candidate.student.picture"></v-img>
                      </v-avatar>
                      <div>
                        {{ candidate.student.fullName }} - DNI:
                        {{ candidate.student.dni }}
                      </div>
                    </v-chip>
                  </td>
                  <td>{{ candidate.position.name }}</td>
                  <td>
                    <v-tooltip top v-if="can(security.groupsDeleteCandidate)">
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          color="error"
                          v-bind="attrs"
                          v-on="on"
                          @click="remove(candidate)"
                        >
                          mdi-trash-can
                        </v-icon>
                      </template>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <br />
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    students: [],
    positions: [],
    candidate: {},
    findStudent: "",
  }),
  computed: {
    ...mapGetters(["security", "person", "can"]),
  },
  watch: {
    findStudent(val) {
      this.findStudent = val;
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del grupo seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.candidate = {};
      this.$refs.observer.reset();
      this.listStudents();
      this.listPositions();
    },
    /**
     * Guardar candidato
     * Permite guardar un candidato
     *
     * @emit added - para agregar el candidato creada en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.candidate.group = this.item;
        this.loading = true;
        let res;
        try {
          res = await axios.post("/candidate", this.candidate);
          if (res.status === 200) {
            this.loading = false;
            this.item.candidates.unshift(res.data.candidate);
            
            this.candidate = {};
            this.$refs.observer.reset();
            
            this.showAlert({
              color: "success",
              text: res.data.message,
            });
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Estudiante: error.student,
        Cargo: error.position,
      });
    },

    /**
     * eliminar candidato
     */
    async remove(candidate) {
      let res = await axios.delete(`/candidate/${candidate.id}`, candidate);
      if (res.status === 200) {
        this.showAlert({
          color: "success",
          text: res.data.message,
        });
        this.item.candidates.splice(this.item.candidates.indexOf(candidate), 1);
        this.listPositions();
      }
    },
    /**
     * quitar estudiante seleccionado en el autocomplete
     */
    removeStudent(item) {
      this.candidate.student = null;
    },
    /**
     * Listar todos los cargos
     */
    async listPositions() {
      let res = await axios.get("/positions");
      this.positions = res.data;
    },
    /**
     * Listar todos los estudiantes dado un string de busqueda
     */
    async listStudents() {
      let res = await axios.get("/students", {
        params: { quantity: 100, find: this.findStudent },
      });
      this.students = res.data;
    },
    /**
     * Buscar estudiante al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listStudents, 360);
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let route = this.$router.resolve({ path: `candidatos/${this.item.id}` });
      window.open(route.href, '_blank');
    },
  },
  mounted() {
    this.listPositions();
    this.listStudents();
  },
};
</script>
<style scoped>
.separate {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-buy {
  margin-top: 15px;
}
</style>