<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Elecciones</h1>
      <h3 class="title-page black--text">Agrupaciones</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.groupsCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar Agrupación</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
          <div v-show="false">
            <input
              type="file"
              ref="picture"
              accept="image/png, image/jpeg, image/bmp"
              label="Avatar"
              @change="uploadPicture"
            /><input />
          </div>
        </v-flex>
      </v-row>
      <v-container class="my-5">
        <v-card class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col v-for="item in list.data" :key="item.id" cols="12">
                <v-card>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <div class="d-flex d-sm-none justify-center fill-width">
                        <v-avatar class="ma-3" size="150" tile>
                          <v-img :src="item.picture">
                            <v-tooltip top v-if="can(security.groupsPicture)">
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  icon
                                  color="black"
                                  @click="editPicture(item)"
                                >
                                  <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                              </template>
                              <span>Editar Foto</span>
                            </v-tooltip>
                          </v-img>
                        </v-avatar>
                      </div>
                      <v-card-title
                        class="headline"
                        v-text="item.name"
                      ></v-card-title>
                      <v-card-text>
                        <div class="font-weight-normal">
                          <strong>Periodo:</strong>{{ item.period.name }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Descripción:</strong>{{ item.description }}
                        </div>
                        <div class="font-weight-normal">
                          <v-list subheader>
                            <v-subheader class="text-h6"
                              >Candidatos</v-subheader
                            >

                            <v-list-item
                              v-for="candidate in item.candidates"
                              :key="candidate.id"
                            >
                              <v-list-item-avatar>
                                <v-img
                                  :alt="`${candidate.student.fullName} avatar`"
                                  :src="candidate.student.picture"
                                ></v-img>
                              </v-list-item-avatar>

                              <v-list-item-content>
                                <v-list-item-title
                                  v-text="candidate.student.fullName"
                                ></v-list-item-title>
                                <v-list-item-subtitle
                                  v-html="candidate.student.dni"
                                ></v-list-item-subtitle>
                                <v-list-item-subtitle
                                  v-html="candidate.position.name"
                                ></v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </div>
                      </v-card-text>
                      <v-card-actions>
                        <v-btn
                          v-if="can(security.groupsSaveCandidate)"
                          color="orange"
                          class="ml-2 mt-5 white--text"
                          rounded
                          small
                          @click="saveCandidates(item)"
                        >
                          Candidatos
                        </v-btn>
                        <v-tooltip top v-if="can(security.groupsUpdate)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="showItem(item)"
                              color="success"
                            >
                              <v-icon>mdi-pencil-box-multiple</v-icon>
                            </v-btn>
                          </template>
                          <span>Editar Agrupación: {{ item.name }}</span>
                        </v-tooltip>
                        <v-tooltip top v-if="can(security.groupsDelete)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="deleteItem(item)"
                              color="error"
                            >
                              <v-icon>mdi-trash-can</v-icon>
                            </v-btn>
                          </template>
                          <span>Eliminar Agrupación: {{ item.name }}</span>
                        </v-tooltip>
                      </v-card-actions>
                    </div>

                    <div class="align-self-center fill-height">
                      <v-avatar class="d-none d-sm-flex ma-3" size="200" tile>
                        <v-img :src="item.picture">
                          <v-tooltip top v-if="can(security.groupsPicture)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                icon
                                color="black"
                                @click="editPicture(item)"
                              >
                                <v-icon>mdi-pencil</v-icon>
                              </v-btn>
                            </template>
                            <span>Editar Foto</span>
                          </v-tooltip>
                        </v-img>
                      </v-avatar>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-container>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.groupsCreate) || can(security.groupsUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.groupsDelete)"
        title="Eliminar Agrupación"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
      <Candidates
        v-if="can(security.groupsSaveCandidate)"
        title="Agrupación"
        :item="item"
        :dialog="candidate"
        @close="candidate = false"
        @save="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import Candidates from "./Candidate";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
    Candidates,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    candidate: false,
    remove: false,
    change: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "person", "can","currentPeriod"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todas las agrupaciones
     */
    async listAll(page = 1) {
      let res = await axios.get("/group?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar agrupaciones al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear una agrupación
     */
    open() {
      this.item = {
        name: "",
        photo: null,
        picture: "",
        period: this.currentPeriod,
      };
      this.saveTitle = "Crear Nueva Agrupación";
      this.save = true;
    },
    /**
     * Abrir dialog para editar agrupación
     */
    showItem(item) {
      this.item = item;
      this.item.photo = null;
      this.saveTitle = "Editar Agrupación";
      this.save = true;
    },
    /**
     * Agregar item a la lista de agrupaciónes
     *
     * @param {object} data - agrupación agregada
     */
    add(data) {
      this.list.data.unshift(data.group);
      this.candidate = true;
      this.item = data.group;
    },
    /**
     * Cargar agrupación del servidor
     *
     * @param {object} data - agrupación seleccionada
     */
    async restore(data) {
      let res = await axios.get(`/group/${data.id}`, data);
      if (res.status === 200) {
        this.item.name = res.data.group.name;
        this.item.picture = res.data.group.picture;
        this.item.description = res.data.group.description;
      }
    },
    /**
     * Abrir dialog para eliminar agrupación
     *
     * @param {object} item - agrupación a ser eliminada
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de agrupaciones
     *
     * @param {object} data - agrupación a ser eliminada
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    /**
     * Abrir inputdialog para guardar imagen
     */
    editPicture(item) {
      this.$refs.picture.click();
      this.item = item;
    },
    /**
     * Actualizar imagen de la agrupación
     *
     * @param {event} evento que se presenta al selecciona la imagen en el input dialog
     */
    async uploadPicture(event) {
      let formData = new FormData();
      formData.append("photo", event.target.files[0]);
      this.$refs.picture.value = null;

      let res = await axios.post(`/group/${this.item.id}/photo`, formData);
      if (res.status === 200) {
        this.showAlert({
          color: "success",
          text: res.data.message,
        });
        this.item.picture = res.data.group.picture;
      }
    },
    /**
     * Abrir dialog para guardar candidatos
     */
    saveCandidates(item) {
      this.item = item;
      this.candidate = true;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>