<template>
  <v-dialog persistent v-model="dialog" width="400px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!-- Correo electrónico -->
            <br />
            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Periodo"
                  rules="required"
                >
                  <v-combobox
                    v-model="item.period"
                    prepend-icon="mdi-account-group"
                    :items="periods"
                    :error-messages="errors"
                    label="Seleccionar Periodo"
                    dense
                    return-object
                  >
                    <template v-slot:item="data">
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="data.item.name"
                        ></v-list-item-title>
                        <v-list-item-subtitle>
                          {{ data.item.year }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                    <template v-slot:selection="data">
                      <div>
                        {{ data.item.name + " - " + data.item.year }}
                      </div>
                    </template>
                    <template v-slot:no-data>
                      <v-col cols="12"> Elemento no encontrado </v-col>
                    </template>
                  </v-combobox>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Nombre-->

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombre"
                  rules="required|max:100"
                >
                  <v-text-field
                    v-model="item.name"
                    :error-messages="errors"
                    :counter="100"
                    label="Nombre"
                    prepend-icon="mdi-account-group"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- Correo electrónico -->

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Descripción"
                  rules="max:255"
                >
                  <v-textarea
                    v-model="item.description"
                    :error-messages="errors"
                    label="Descripción"
                    prepend-icon="mdi-account-lock"
                    :counter="255"
                    rows="3"
                  ></v-textarea>
                </validation-provider>
              </v-flex>
            </v-row>

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Foto"
                  rules="required|image"
                  v-if="!item.id"
                >
                  <v-file-input
                    :error-messages="errors"
                    v-model="item.photo"
                    accept="image/png, image/jpeg, image/bmp"
                    placeholder="Seleccionar imagen"
                    prepend-icon="mdi-camera"
                    label="Imagen"
                    @change="getImg"
                  ></v-file-input>
                </validation-provider>
                <v-col
                  v-if="srcImg"
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-img :src="srcImg" width="164"></v-img>
                </v-col>
              </v-flex>
            </v-row>
            <br />

            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    periods: [],
    loading: false,
    srcImg: "",
  }),
  computed: {
    ...mapGetters(["person"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion de la persona seleccionada en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
      this.srcImg = "";
    },
    /**
     * Guardar Persona
     * Permite guardar el persona ya sea seleccionada o uno nueva
     *
     * @emit added - para agregar la persona creada en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        try {
          if (this.item.id) {
            console.log(this.item)
            res = await axios.put(`/group/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          } else {
            let formData = new FormData();
            formData.append("name", this.item.name);
            formData.append("description", this.item.description);
            formData.append("period", JSON.stringify(this.item.period));
            if (this.item.photo) {
              formData.append("photo", this.item.photo);
            }
            res = await axios.post(`/group`, formData);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
                timeout:2000,
              });
              this.srcImg = "";
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Nombre: error.name,
        Descripción: error.email,
        Foto: error.photo,
        Periodo: error.period,
      });
    },

    /**
     * Mostrar imagen cargada
     *
     * @param {event} evento que se genera al seleccionar la imagen
     */
    getImg(event) {
      if (event) {
        const file = event.name;
        let reader = new FileReader();
        reader.addEventListener("load", () => {
          this.srcImg = reader.result;
        });
        reader.readAsDataURL(event);
      } else {
        this.srcImg = "";
      }
    },
    /**
     *Listar los periodos registrados
     */
    async listPeriods() {
      let res = await axios.get("/periods");
      this.periods = res.data;
    },
    /**
     * Buscar periodos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listPeriods, 360);
    },
  },
  mounted() {
    this.listPeriods();
  },
};
</script>