<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <!--<v-card>-->
    <v-card dark>
      <v-card-title class="headline justify-center"> Confirmación</v-card-title>
      <v-card-text class="text-center"
        >¿Has seleccionado <strong>{{ item.name }}</strong
        >?</v-card-text
      >
      <v-card-actions class="justify-center">
        <v-btn
          color="error"
          @click="voted"
          :loading="loading"
          :disabled="loading"
        >
          Si
        </v-btn>
        <v-btn
          color="primary"
          @click="close"
          :loading="loading"
          :disabled="loading"
        >
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["item", "dialog", "title"],
  data: () => ({
    loading: false,
  }),
  methods: {
    /**
     * Cerrar dialog
     * cerrar el dialog
     * @emit close - permite cerrar el dialog
     */
    close() {
      this.$emit("close");
    },
    voted() {
      this.$emit("voted");
      this.close();
    },
  },
};
</script>