<template>
  <v-app>
    <v-img height="100%" src="img/assets/bg.jpg">
      <div>
        <div v-if="!vote" class="header-elections">
          <div class="main-title-elections">
            <img
              src="img/assets/peru.png"
              width="80"
              alt="escudo"
              class="main-left"
            />
            <div class="main-center">
              <h2>ALCALDES Y REGIDORES</h2>
              <h4>INSTITUCIÓN EDUCATIVA HÉROES DE LA BREÑA</h4>
            </div>
            <img
              src="img/assets/insignia.png"
              width="60"
              alt="insignia"
              class="main-right"
            />
          </div>
          <div class="secondary-title-elections">
            <h2>Elecciones Municipales Escolares {{ getYear }}</h2>
          </div>
          <div class="main-title-elections">
            <div>
              <h4>
                Para que se muestre la cedula de votacion debe de escribir el
                número de su DNI en las casillas que se muestran
              </h4>
            </div>
          </div>
          <br />
          <div
            style="
              width: 50%;
              display: inline-block;
              float: left;
              height: 240px;
              margin: auto;
              padding: 20px;
            "
          >
            <img src="img/assets/jec.png" alt="jec" />
          </div>
          <br />
          <div class="form-container-cam">
            <form v-if="!loadingDni">
              <h3>DNI</h3>
              <v-otp-input
                v-model="dni"
                length="8"
                :disabled="loadingDni"
                @finish="voteAttendance"
              >
              </v-otp-input>
              <v-overlay absolute :value="loadingDni">
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </v-overlay>
            </form>
          </div>
        </div>
        <div v-if="vote" class="header-elections">
          <div class="main-title-elections">
            <img
              src="img/assets/peru.png"
              width="80"
              alt="escudo"
              class="main-left"
            />
            <div class="main-center">
              <h2>ALCALDES Y REGIDORES HÉROES DE LA BREÑA</h2>
              <p>
                {{ student.lastName }} {{ student.firstName }} - {{ student.dni }}
              </p>
            </div>
            <img
              src="img/assets/insignia.png"
              width="60"
              alt="insignia"
              class="main-right"
            />
          </div>
          <div class="secondary-title-elections">
            <h2>Elecciones Municipales Escolares {{ getYear }}</h2>
            <h3>
              Seleccione el candidato de su prefencia - Tiempo: {{ getTime }}
            </h3>
          </div>
          <div class="list-group">
            <v-skeleton-loader
              v-if="loading"
              type="list-item-avatar, divider,list-item-avatar, divider,list-item-avatar, divider"
            ></v-skeleton-loader>
            <v-list v-else two-line>
              <v-list-item-group active-class="black--text" dense>
                <template v-for="item in groups">
                  <v-list-item :key="item.id" @click="selectGroup(item)">
                    <template v-slot>
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="item.name"
                        ></v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-action>
                        <v-img width="80" :src="item.picture"></v-img>
                      </v-list-item-action>
                    </template>
                  </v-list-item>
                  <hr :key="item.name" />
                </template>
              </v-list-item-group>
            </v-list>
          </div>
          <br />
        </div>
        <Message
          :dialog="message"
          :item="attendance"
          @close="message = false"
        />
        <Confirm
          :dialog="confirm"
          :item="group"
          @close="confirm = false"
          @voted="voted"
        />
      </div>
    </v-img>
  </v-app>
</template>

<script>
import Message from "./Message";
import Confirm from "./Confirm";
export default {
  components: {
    Message,
    Confirm,
  },
  data: () => ({
    loading: false,
    vote: false,
    dni: "",
    groups: [],
    attendance: {},
    student: {},
    group: {},
    totalSeconds: 120,
    minutes: 0,
    seconds: 0,
    interval: null,
    loadingDni: false,
    message: false,
    confirm: false,
  }),

  computed: {
    getYear() {
      var d = new Date();
      return d.getFullYear();
    },

    getTime() {
      return this.minutes + ":" + this.seconds;
    },
  },
  methods: {
    timer() {
      var self = this;
      self.totalSeconds = 120;
      this.group = {};
      if (!self.interval) {
        let interval = setInterval(function () {
          if (self.totalSeconds > 0) {
            self.formatTime();
            self.updateTime();
            if (!self.vote) {
              clearInterval(interval);
              interval = null;
            }
          } else if (self.totalSeconds <= 0) {
            self.vote = false;
            self.formatTime();
            clearInterval(interval);
            interval = null;
            self.voted();
          }
        }, 1000);
      }
    },

    updateTime() {
      this.totalSeconds -= 1;
    },

    formatTime() {
      this.minutes = Math.floor(this.totalSeconds / 60);
      this.seconds = this.totalSeconds - this.minutes * 60;
      this.minutes = this.minutes < 10 ? "0" + this.minutes : this.minutes;
      this.seconds = this.seconds < 10 ? "0" + this.seconds : this.seconds;
    },

    listGroups() {
      axios.get("/groups").then((response) => {
        this.groups = response.data;
        console.log(this.groups)
      });
    },

    async voted() {
      this.loading = true;
      let vote = {
        group: this.group,
      };
      try {
        let res = await axios.post(`/vote`, vote);
        if (res.status === 200) {
          this.message = true;
          this.attendance.message = "Ha concluido elproceso de votación";
        }
      } catch (error) {
        this.message = true;
        this.attendance.message =
          "Error interno comuniquese con royerrpdriguez@heroesdelabrena.edu.pe";
      }
      this.group = {};
      this.vote = false;
      this.loading = false;
    },

    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    async voteAttendance(rsp) {
      this.loadingDni = true;
      let res;
      this.attendance = {
        dni: this.dni,
        state: "Voto",
        place: "Virtual",
      };
      try {
        res = await axios.post("/voteattendance", this.attendance);
        if (res.status === 200) {
          this.dni = "";
          this.loadingDni = false;
          this.message = true;
          this.attendance = res.data;
          this.student = res.data.student;
          if (this.attendance.cedula == "yes") {
            this.vote = true;
            this.timer();
          }
        }
      } catch (error) {
        this.loadingDni = false;
      }
      await this.timeout(3000);
    },
    selectGroup(item) {
      this.confirm = true;
      this.group = item;
    },
  },
  mounted() {
    this.listGroups();
  },
};
</script>

<style scoped>
.header-elections {
  color: #fff;
  border-radius: 5px;
  background-color: rgba(50, 64, 77, 0);
  position: absolute;
  margin: 1% 2%;
  /*top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
  width: 96%;
  text-align: center;
  font-weight: 900;
}

.main-title-elections {
  color: #000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin: 0;
  /*top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
  width: 100%;
  display: inline-block;
}
.secondary-title-elections {
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin: 0;
  /*top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
  width: 100%;
}
.form-container-cam {
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(50, 64, 77, 0.9);
  width: 340px;
  height: 240px;
  display: flex;
  text-align: center;
  align-items: center;
}
.form-container-cam video,
.form-container-cam canvas {
  height: 200px !important;
  width: 300px !important;
  border-radius: 10px;
}
.main-left {
  float: left;
}
.main-right {
  float: right;
}
.main-center {
  float: left;
  width: 80%;
}

.validation-success,
.validation-failure,
.validation-pending {
  height: 200px;
  width: 300px;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.validation-success {
  color: green;
}
.validation-failure {
  color: red;
}
.flex-parent {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.flex-child {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.hover-vote:hover {
  background-color: rgba(50, 64, 77, 0.9);
  color: white;
}
.modal-dialog {
  height: 80% !important;
  padding-top: 10%;
}
.modal-content {
  overflow: visible;
}
.modal-body {
  height: 80%;
  overflow: auto;
}
</style>