<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <!--<v-card>-->
    <v-card dark>
      <v-card-title class="headline justify-center">
        Mensaje</v-card-title
      >
      <v-card-text class="text-center"
        ><b v-if="item.student">{{item.student.fullName}}</b> {{ item.message }}</v-card-text
      >
      <v-card-actions class="justify-center">
        <v-btn
          color="primary"
          @click="close"
          :loading="loading"
          :disabled="loading"
        >
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["item", "dialog","title"],
  data: () => ({
    loading: false,
  }),
  methods: {
    /**
     * Cerrar dialog
     * cerrar el dialog
     * @emit close - permite cerrar el dialog
     */
    close() {
      this.$emit("close");
    },
  },
};
</script>