<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Datos del Usuario-->

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Datos del Usuario"
                  rules="required"
                >
                  <v-autocomplete
                    hide-selected
                    no-filter
                    prepend-icon="mdi-account"
                    :error-messages="errors"
                    v-model="item.person"
                    :items="people"
                    :search-input.sync="findPerson"
                    label="Seleccionar Usuario"
                    @keyup="searchData"
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeItem(data.item)"
                      >
                        <v-avatar left>
                          <v-img :src="data.item.picture"></v-img>
                        </v-avatar>
                        <div>
                          {{
                            data.item.firstName +
                            " " +
                            data.item.lastName +
                            " - " +
                            data.item.dni
                          }}
                        </div>
                      </v-chip>
                    </template>
                    <template v-slot:item="data">
                      <v-list-item-avatar>
                        <img :src="data.item.picture" />
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="
                            data.item.firstName + ' ' + data.item.lastName
                          "
                        ></v-list-item-title>
                        <v-list-item-subtitle>
                          {{ data.item.dni }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-autocomplete>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- Login y Contraseña -->

            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Usuario"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.login"
                    :error-messages="errors"
                    :counter="50"
                    label="Login de Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Contraseña"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.password"
                    :error-messages="errors"
                    :counter="50"
                    label="Contraseña"
                    prepend-icon="mdi-account"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <br />

            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    people: [],
    findPerson: "",
    loading: false,
    showPassword: false,
  }),
  watch: {
    findPerson(val) {
      this.findPerson = val;
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del usuario seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      this.$refs.observer.reset();
    },
    /**
     * Guardar Usuario
     * Permite guardar el usuario ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el usuario creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        try {
          let res = await axios.post("/user", this.item);
          if (res.status === 200) {
            this.$emit("added", res.data);
            this.loading = false;
            this.close();
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        DNI: error.dni,
        "Fecha de Nacimiento": error.birthday,
        Sexo: error.gender,
        Telefono: error.phone,
        Dirección: error.address,
        Usuario: error.login,
        Contraseña: error.password,
        Email: error.email,
      });
    },

    /**
     *Listar las personas registradas
     */
    async listPeople() {
      let res = await axios.get("/person", {
        params: { quantity: 100, find: this.findPerson },
      });
      this.people = res.data;
    },

    /**
     * Buscar personas al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listPeople, 360);
    },

    /**
     * quitar persona seleccionada en el combobox
     */
    removeItem(item) {
      this.item.person = {};
    },
  },
  mounted() {
    this.listPeople();
  },
};
</script>