<template>
  <v-row justify="center">
    <v-dialog
      persistent
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="black">
          <v-btn icon dark @click="close">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title
            >Asignar Roles: <strong>{{ item.login }}</strong>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="save"
              ><v-icon>mdi-content-save-outline</v-icon> Guardar
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-text-field v-model="search" label="buscar"></v-text-field>
            <v-row>
              <v-col>
                <h2 class="h4">Lista de Roles</h2>
                <v-treeview
                  v-model="item.roles"
                  :items="data"
                  :filter="undefined"
                  :search="search"
                  dense
                  selectable
                  return-object
                  open-all
                  item-text="name"
                >
                  <template v-slot:label="{ item }">
                    <v-icon color="primary" dark> mdi-account </v-icon
                    ><b>{{ item.name }}: </b>{{ item.description }}
                  </template>
                </v-treeview>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapMutations } from "vuex";
export default {
  props: ["item", "dialog"],
  data: () => ({
    search: "",
    data: [],
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Ordenar arreglo
     *
     * @param {string} prop - propiedad del array para ordenar
     * @param {array} array - arreglo a ser ordenado
     */
    sortBy(prop, array) {
      return array.sort((a, b) => (a[prop] < b[prop] ? -1 : 1));
    },
    /**
     * Listar todos los roles
     */
    async listRoles() {
      let res = await axios.get("/roles");
      this.data = this.sortBy("name", res.data);
    },
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       save - para cargar la informacion del usuario seleccionado
     */
    close() {
      this.$emit("close");
      this.$emit("save", this.item);
      this.search = "";
    },
    /**
     * Guardar rol al usuario seleccionado
     */
    async save() {
      let res = await axios.post(`/user/${this.item.id}/role`, this.item);
      this.showAlert({
        color: "success",
        text: "Usuario " + res.data.user.login + ": " + res.data.message,
      });
      this.close();
    },
  },
  mounted() {
    this.listRoles();
  },
};
</script>