<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Sistema</h1>
      <h3 class="title-page black--text">Parámetros de Asistencia</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.parametersCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo Parámetro</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Nombre
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Valor
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Fecha Inicial
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Fecha Final
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Descripción
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>{{ item.name }}</td>
              <td>{{ item.value }}</td>
              <td>{{ item.beginDate |  moment("DD/MM/YYYY")}}</td>
              <td>{{ item.endDate |  moment("DD/MM/YYYY")}}</td>
              <td>{{ item.description }}</td>
              <td width="120">
                <v-tooltip top v-if="can(security.parametersUpdate)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.parametersDelete)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.parametersCreate) || can(security.parametersUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.parametersDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    permission: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los parametros
     */
    async listAll(page = 1) {
      let res = await axios.get("/parameter?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },
    /**
     * Buscar parametros al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },
    /**
     *  Abrir dialog para crear un parametro
     */
    open() {
      this.item = {
        name: "",
        value:"",
        beginDate: new Date().toISOString().substr(0, 10),
        endDate: null,
        description: "",
      };
      this.saveTitle = "Crear Nuevo Parámetro";
      this.save = true;
    },
    /**
     * Abrir dialog para editar parametro
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Parámetro";
      this.save = true;
    },
    /**
     * Agregar item a la lista de parametros
     *
     * @param {object} data - parametro agregado
     */
    add(data) {
      //this.list.data.unshift(data.parameter);
      this.item = data.parameter;
      this.listAll();
    },
    /**
     * Cargar parametro del servidor
     *
     * @param {object} data - parametro seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/parameter/${data.id}`, data);
      if (res.status === 200) {
        this.item.name = res.data.parameter.name;
        this.item.value=res.data.parameter.value;
        this.item.beginDate = res.data.parameter.beginDate;
        this.item.endDate = res.data.parameter.endDate;
        this.item.description = res.data.parameter.description;
      }
    },
    /**
     * Abrir dialog para eliminar parametro
     *
     * @param {object} item - parametro a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de parametros
     *
     * @param {object} data - parametro a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>