<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Solicitudes</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>

          <v-spacer></v-spacer>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              <b>Solicitudes: {{endDateFormatted}}</b>
              <v-spacer></v-spacer>

              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="exportPdf"
                    color="red"
                    dark
                    icon
                    large
                  >
                    <v-icon>mdi-file-pdf-box</v-icon>
                  </v-btn>
                </template>
                <span>Exportar en PDF</span>
              </v-tooltip>
            </v-card-title>

            <v-card-text>
                <v-simple-table v-if="hasData">
                  <template v-slot:default>
                    <thead class="black">
                      <tr>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Pedido
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Apellidos y Nombres
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Fecha
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Hora Entrega
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Hora Recepción
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Cantidad
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Grado y Sección
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Aula
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Firma
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in reportData"
                        :key="index"
                      >
                        <td>{{ item.type}}</td>
                        <td>{{ item.teacher.fullName}}</td>
                        <td>{{ item.date | moment("DD/MM/YYYY")}}</td>
                        <td>{{item.delivery}}</td>
                        <td>{{item.reception}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{ item.grade+" "+item.section }}</td>
                        <td>{{ item.place}}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              <div class="text-center" v-else>
                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    mEndDate: false,
    endDateFormatted: vm.formatDate(
      new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10)
    ),
    endDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    hasData: true,
    reportData: [],
  }),
  computed: {},
  watch: {
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
        let search = {
          date: this.endDate,
        };
        this.hasData = false;
        let res = await axios.get(`/application-report`, {
          params: search,
        });
        this.reportData = res.data;
        this.hasData = true;
        this.load=false
    },
    /**
     * actualizar las ventas
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let endDate = new Date(this.endDate);
        if (endDate) {
          this.$refs.observer.setErrors({
            "Fecha": "Seleccione una fecha",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let applications = [];
      this.reportData.forEach((element) => {
        applications.push({
          type:element.type,
          teacher: element.teacher.fullName,
          date: this.formatDate(element.date),
          delivery: element.delivery,
          reception:element.reception,
          quantity:element.quantity,
          class:element.grade+" "+element.section,
          place: element.place,
          signature:""
        });
      });
      const columns = [
        { title: "Pedido", dataKey: "type" },
        { title: "Apellidos y Nombres", dataKey: "teacher" },
        { title: "Fecha", dataKey: "date" },
        { title: "Hora Entrega", dataKey: "delivery" },
        { title: "Hora Recepción", dataKey: "reception" },
        { title: "Cantidad", dataKey: "quantity" },
        { title: "Grado y Sección", dataKey: "class" },
        { title: "Aula", dataKey: "place" },
        { title: "Firma         ", dataKey: "signature" },
      ];
      const doc = new jsPDF({
        orientation: 'l',
        unit: "cm",
        format: "a4",
      });
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: applications,
        margin: { left: 1.5, top: 1.5 },
        theme:'grid',
        columnStyles: { 0: { minCellHeight:1.2} },
      });
      // Creating footer and saving file

      doc.save("Solicitudes"+this.endDateFormatted+".pdf");
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
  },
};
</script>