<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Asistencia por Grado</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm6 md3 pl-3>
            <v-autocomplete
              class="separate"
              v-model="grade"
              :items="['1', '2', '3', '4', '5']"
              label="Grado"
              @change="updateReport"
            >
            </v-autocomplete>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md3 pl-3>
            <v-autocomplete
              class="separate"
              v-model="section"
              :items="['A', 'B']"
              label="Sección"
              @change="updateReport"
            >
            </v-autocomplete>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              Reporte de Asistencia
              <small>
                ({{ beginDateFormatted }} al {{ endDateFormatted }}) -
                <b v-text="grade + ' ' + section"></b>
              </small>
              <v-spacer></v-spacer>

              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <JsonExcel
                    :data="reportData"
                    :worksheet="excelSheetName"
                    :name="'reporte de asistencia' + excelSheetName + '.xls'"
                    style="display: inline"
                  >
                    <v-btn v-bind="attrs" v-on="on" color="success" dark>
                      <v-icon left>mdi-file-excel-box</v-icon>
                      <span>Excel</span>
                    </v-btn>
                  </JsonExcel>
                </template>
                <span>Exportar en Excel</span>
              </v-tooltip>
            </v-card-title>

            <v-card-text>
              <v-simple-table v-if="hasData">
                <template v-slot:default>
                  <thead class="black">
                    <tr>
                      <th
                        class="
                          text-left
                          white--text
                          subtitle-1
                          font-weight-bold
                        "
                      >
                        N°
                      </th>
                      <th
                        class="
                          text-left
                          white--text
                          subtitle-1
                          font-weight-bold
                        "
                      >
                        APELLIDOS Y NOMBRES
                      </th>
                      <th
                        class="
                          text-left
                          white--text
                          subtitle-1
                          font-weight-bold
                        "
                        v-for="(d, index) in dates"
                        :key="index"
                      >
                        {{ d.day }}
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="hasData">
                    <tr v-for="(item, index) in students" :key="item.id">
                      <td>{{ index + 1 }}</td>
                      <td>{{ item.lastName + " " + item.firstName }}</td>
                      <td
                        v-for="(date, index) in item.attendances"
                        :key="index"
                      >
                        {{ date.record }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <div class="text-center" v-else>
                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
import moment from "moment";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    students: [],
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      new Date(
        vm.addDays(new Date(), -7) - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10)
    ),
    beginDate: new Date(
      vm.addDays(new Date(), -7) - new Date().getTimezoneOffset() * 60000
    )
      .toISOString()
      .substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(
      new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10)
    ),
    endDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    hasData: false,
    grade: "",
    section: "",
    reportData: [],
  }),
  computed: {
    dates() {
      let d = [];
      let begin = new Date(this.beginDate);
      let end = new Date(this.endDate);
      let date = begin;
      while (end >= date) {
        let temp = new Date(date).toISOString().substr(0, 10);
        d.push({
          day: temp.substring(8, 10),
          date: temp,
        });
        date = this.addDays(date, 1);
      }
      return d;
    },
    excelSheetName() {
      return (
        moment(this.beginDate).format("DD-MM-YYYY") +
        " al " +
        moment(this.endDate).format("DD-MM-YYYY")
      );
    },
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
      let search = {
        grade: this.grade,
        section: this.section,
        beginDate: this.beginDate,
        endDate: this.endDate,
      };
      this.hasData = false;
      let res = await axios.get("/attendance-report", { params: search });
      this.students = res.data;
      let i,
        k,
        j = 0;
      this.students.forEach((student) => {
        k = 0;
        this.reportData[j] = {};
        this.reportData[j]["col" + k] =
          student.lastName + " " + student.firstName;
        student.attendances.forEach((attendance) => {
          k++;
          this.reportData[j]["col" + k] = attendance.record;
        });
        j++
      });
      let cab = [];
      let c = 0;
      cab["col" + c] = "APELLIDOS Y NOMBRES";
      this.dates.forEach((element) => {
        c++;
        cab["col" + c] = element.day;
      });
      this.reportData.unshift(cab);
      this.load = false;
      this.hasData = true;
    },
    /**
     * actualizar las ventas
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
  },
};
</script>