<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Cuaderno de Incidencias</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>

          <v-spacer></v-spacer>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              <b>Cuaderno de Incidencias: {{beginDateFormatted+" - "+endDateFormatted}}</b>
              <v-spacer></v-spacer>

              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="exportPdf"
                    color="red"
                    dark
                    icon
                    large
                  >
                    <v-icon>mdi-file-pdf-box</v-icon>
                  </v-btn>
                </template>
                <span>Exportar en PDF</span>
              </v-tooltip>
            </v-card-title>

            <v-card-text>
                <v-simple-table v-if="hasData">
                  <template v-slot:default>
                    <thead class="black">
                      <tr>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          N°
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Estudiante
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Fecha
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Hora
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Detalles
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Registrado
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in reportData"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.student.fullName }} - {{ item.student.lessons[0].grade+" "+item.student.lessons[0].section }}</td>
                        <td>{{ item.date | moment("DD/MM/YYYY")}}</td>
                        <td>{{ item.time}}</td>
                        <td>{{ item.detail }}</td>
                        <td>{{ item.person.fullName}}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              <div class="text-center" v-else>
                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      new Date(
        vm.addDays(new Date(), -7) - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10)
    ),
    beginDate: new Date(
      vm.addDays(new Date(), -7) - new Date().getTimezoneOffset() * 60000
    )
      .toISOString()
      .substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(
      new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10)
    ),
    endDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    hasData: true,
    reportData: [],
  }),
  computed: {},
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
        let search = {
          beginDate: this.beginDate,
          endDate: this.endDate,
        };
        this.hasData = false;
        let res = await axios.get(`/incidents-report`, {
          params: search,
        });
        this.reportData = res.data;
        this.hasData = true;
        this.load=false
    },
    /**
     * actualizar las ventas
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let incidents = [];
      let i = 0;
      this.reportData.forEach((element) => {
        incidents.push({
          index: ++i,
          student:element.student.fullName+" - "+element.student.lessons[0].grade+" "+element.student.lessons[0].section,
          date: this.formatDate(element.date),
          time: element.time,
          detail: element.detail,
          register: element.person.fullName,
        });
      });
      const columns = [
        { title: "N°", dataKey: "index" },
        { title: "Estudiante", dataKey: "student" },
        { title: "Fecha", dataKey: "date" },
        { title: "Hora", dataKey: "time" },
        { title: "Detalles", dataKey: "detail" },
        { title: "Registrado", dataKey: "register" },
      ];
      const doc = new jsPDF({
        orientation: 'l',
        unit: "cm",
        format: "a4",
      });
      // text is placed using x, y coordinates
      doc.setFontSize(16).text("Cuaderno de incidencias: "+this.beginDateFormatted+" - "+this.endDateFormatted, 2.5, 2.5);
      // create a line under heading
      doc.setLineWidth(0.01).line(2.5, 2.6, 27, 2.5);
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: incidents,
        margin: { left: 2.5, top: 3 },
      });
      // Creating footer and saving file

      doc.save("Cuaderno de incidencias.pdf");
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
  },
};
</script>