<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Estudiantes</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm6 md6 pl-1>
            <!--<v-autocomplete
              class="separate"
              v-model="student"
              label="Estudiante"
              prepend-icon="mdi-account-settings"
              :items="students"
              item-text="fullName"
              return-object
              @change="updateReport"
            >
            </v-autocomplete>-->
            <v-autocomplete
              hide-selected
              no-filter
              prepend-icon="mdi-hail"
              v-model="student"
              :items="students"
              :search-input.sync="findStudent"
              label="Seleccionar Estudiante"
              @keyup="searchData"
              @change="updateReport"
            >
              <template v-slot:selection="data">
                <div>
                  {{ data.item.fullName }}
                </div>
              </template>
              <template v-slot:item="data">
                <v-list-item-avatar>
                  <img :src="data.item.picture" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    v-html="data.item.fullName"
                  ></v-list-item-title>
                  <v-list-item-subtitle>
                    {{ data.item.dni }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              <b>Reporte de estudiante: </b>
              <v-spacer></v-spacer>

              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="exportPdf"
                    color="red"
                    dark
                    icon
                    large
                  >
                    <v-icon>mdi-file-pdf-box</v-icon>
                  </v-btn>
                </template>
                <span>Exportar en PDF</span>
              </v-tooltip>
            </v-card-title>

            <v-card-text>
              <v-img
                v-if="student.picture"
                :src="student.picture"
                alt="Estudiante"
                contain
                height="150"
              ></v-img>
              <p v-if="student.id" class="decode-result text-center">
                {{ student.fullName }} <br />
                <b v-if="student.lessons"
                  ><span v-if="student.lessons[0]">{{
                    student.lessons[0].grade + " " + student.lessons[0].section
                  }}</span></b
                >
              </p>
              <div v-if="hasData">
                <b>Asistencia: </b>
                <v-simple-table>
                  <template v-slot:default>
                    <thead class="black">
                      <tr>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          N°
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Fecha
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Hora
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Asistencia
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Detalles
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in student.attendances"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.date | moment("DD/MM/YYYY")}}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.detail }}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <br />
                <b>Incidencias: </b>
                <v-simple-table>
                  <template v-slot:default>
                    <thead class="black">
                      <tr>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          N°
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Fecha
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Hora
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Detalles
                        </th>
                        <th
                          class="
                            text-left
                            white--text
                            subtitle-1
                            font-weight-bold
                          "
                        >
                          Registrado
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in student.incidents"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.date | moment("DD/MM/YYYY")}}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.detail }}</td>
                        <td>{{ item.person.fullName }}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
              <div class="text-center" v-else>
                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    students: [],
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      new Date(
        vm.addDays(new Date(), -7) - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10)
    ),
    beginDate: new Date(
      vm.addDays(new Date(), -7) - new Date().getTimezoneOffset() * 60000
    )
      .toISOString()
      .substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(
      new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10)
    ),
    endDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    hasData: true,
    student: {},
    findStudent: "",
    reportData: [],
  }),
  computed: {},
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
    findStudent(val) {
      this.findStudent = val;
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
      if (this.student.id) {
        let search = {
          beginDate: this.beginDate,
          endDate: this.endDate,
        };
        this.hasData = false;
        let res = await axios.get(`/attendance-report/${this.student.id}`, {
          params: search,
        });
        this.student = res.data;
        this.hasData = true;
      }
    },
    /**
     * actualizar las ventas
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let attendances = [];
      let incidents = [];
      let i = 0;
      this.student.attendances.forEach((element) => {
        attendances.push({
          index: ++i,
          date: this.formatDate(element.date),
          time: element.time,
          type: element.type,
          detail: element.detail,
        });
      });
      const columns = [
        { title: "N°", dataKey: "index" },
        { title: "Fecha", dataKey: "date" },
        { title: "Hora", dataKey: "time" },
        { title: "Asistencia", dataKey: "type" },
        { title: "Detalles", dataKey: "detail" },
      ];
      const doc = new jsPDF({
        unit: "cm",
        format: "a4",
      });
      /*var img = new Image();
      img.src = 'http://localhost:8000'+this.student.picture;
      console.log(img)*/
      doc.addImage(
        "http://localhost:8000" + this.student.picture,
        "JPEG",
        15,
        40,
        148,
        210
      );
      // text is placed using x, y coordinates
      doc.setFontSize(16).text("Reporte de Asistencia", 2.5, 2.5);
      doc
        .setFontSize(12)
        .text(
          this.student.fullName +
            " " +
            this.student.lessons[0].grade +
            " " +
            this.student.lessons[0].section,
          2.5,
          3.5
        );
      // create a line under heading
      doc.setLineWidth(0.01).line(2.5, 2.6, 19, 2.5);
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: attendances,
        margin: { left: 2.5, top: 4 },
      });
      // Creating footer and saving file

      doc.save("Asistencia" + this.student.fullName + ".pdf");

      this.student.incidents.forEach((element) => {
        incidents.push({
          index: ++i,
          date: this.formatDate(element.date),
          time: element.time,
          detail: element.detail,
          register: element.person.fullName,
        });
      });
      const columnsIncidents = [
        { title: "N°", dataKey: "index" },
        { title: "Fecha", dataKey: "date" },
        { title: "Hora", dataKey: "time" },
        { title: "Detalles", dataKey: "detail" },
        { title: "Registrado", dataKey: "register" },
      ];
      const docIncidents = new jsPDF({
        unit: "cm",
        format: "a4",
      });
      // text is placed using x, y coordinates
      docIncidents.setFontSize(16).text("Reporte de Incidentes", 2.5, 2.5);
      docIncidents
        .setFontSize(12)
        .text(
          this.student.fullName +
            " " +
            this.student.lessons[0].grade +
            " " +
            this.student.lessons[0].section,
          2.5,
          3.5
        );
      // create a line under heading
      docIncidents.setLineWidth(0.01).line(2.5, 2.6, 19, 2.5);
      // Using autoTable plugin
      docIncidents.autoTable({
        columns:columnsIncidents,
        body: incidents,
        margin: { left: 2.5, top: 4 },
      });
      // Creating footer and saving file

      docIncidents.save("Incidentes" + this.student.fullName + ".pdf");
    },
    /**
     * Listar todos los estudiantes dado un string de busqueda
     */
    async listStudents() {
      let res = await axios.get("/students", {
        params: { quantity: 100, find: this.findStudent },
      });
      this.students = res.data;
      this.load = false;
    },
    /**
     * Buscar productos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listStudents, 360);
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
    this.listStudents();
  },
};
</script>