<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <!--<v-card>-->
    <v-card dark>
      <v-card-title class="headline justify-center"> {{ title }}</v-card-title>
      <v-card-text class="text-center"
        >¿Desea eliminar el registro <strong>{{ item.login }}</strong
        >?</v-card-text
      >
      <v-card-actions class="justify-center">
        <v-btn
          color="error"
          @click="deleteItem"
          :loading="loading"
          :disabled="loading"
        >
          Si
        </v-btn>
        <v-btn
          color="primary"
          @click="close"
          :loading="loading"
          :disabled="loading"
        >
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  props: ["item", "dialog", "title"],
  data: () => ({
    loading: false,
  }),
  computed: {
    ...mapGetters(["person"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     * cerrar el dialog
     * @emit close - permite cerrar el dialog
     */
    close() {
      this.$emit("close");
    },
    /**
     * Eliminar usuario
     *
     * @emit deleted - permite generar el evento para eliminar elemento de la lista principal
     */
    async deleteItem() {
      this.loading = true;
      let p;
      switch (this.item.type) {
        case this.person.STUDENT:
          p = "student";
          break;
        case this.person.TEACHER:
          p = "teacher";
          break;
        case this.person.ADMINISTRATIVE:
          p = "administrative";
          break;
      }
      try {
        let res = await axios.delete(`/${p}/${this.item.id}`, this.item);
        if (res.status === 200) {
          this.loading = false;
          this.close();
          this.$emit("deleted", res.data);
          this.showAlert({
            color: "success",
            text:
              this.item.firstName +
              " " +
              this.item.lastName +
              " " +
              res.data.message,
          });
        }
      } catch (error) {
        this.loading = false;
      }
    },
  },
};
</script>