<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Apellidos y Nombres-->

            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Apellidos"
                  rules="required|max:100"
                >
                  <v-text-field
                    v-model="item.lastName"
                    :error-messages="errors"
                    :counter="100"
                    label="Apellidos"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombres"
                  rules="required|max:100"
                >
                  <v-text-field
                    v-model="item.firstName"
                    :error-messages="errors"
                    :counter="100"
                    label="Nombres"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Fecha de nacimiento y sexo-->

            <v-row align="center">
              <v-flex cols="12" xs6>
                <v-menu
                  ref="mBirthDay"
                  v-model="mBirthDay"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Fecha de Nacimiento"
                      rules="required"
                    >
                      <v-text-field
                        v-model="birthDayFormatted"
                        :error-messages="errors"
                        label="Fecha de Nacimiento"
                        hint="Formato DD/MM/YYYY"
                        readonly
                        prepend-icon="mdi-account"
                        v-bind="attrs"
                        @blur="birthDay = parseDate(birthDayFormatted)"
                        v-on="on"
                      ></v-text-field>
                    </validation-provider>
                  </template>
                  <v-date-picker
                    v-model="birthDay"
                    :active-picker.sync="activePicker"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1900-01-01"
                    no-title
                    @input="mBirthDay = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Sexo"
                  rules="required|oneOf:Hombre,Mujer|max:15"
                >
                  <v-select
                    :error-messages="errors"
                    v-model="item.gender"
                    prepend-icon="mdi-account"
                    :items="['Hombre', 'Mujer']"
                    label="Sexo"
                  ></v-select>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- DNI y Telefono -->
            <v-row align="center">
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="DNI"
                  rules="required|numeric|max:8|min:8"
                >
                  <v-text-field
                    type="number"
                    v-model="item.dni"
                    :error-messages="errors"
                    :counter="8"
                    label="DNI"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Telefono"
                  rules="numeric|max:15"
                >
                  <v-text-field
                    v-model="item.phone"
                    :error-messages="errors"
                    :counter="15"
                    label="Telefono"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- Dirección -->
            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Dirección"
                  rules="max:255"
                >
                  <v-text-field
                    v-model="item.address"
                    :error-messages="errors"
                    :counter="255"
                    label="Direción"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Correo electrónico -->

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Email"
                  rules="required|email|max:255"
                >
                  <v-text-field
                    v-model="item.email"
                    :error-messages="errors"
                    label="Correo Electónico"
                    prepend-icon="mdi-account"
                    :counter="255"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Foto"
                  rules="image"
                  v-if="!item.id"
                >
                  <v-file-input
                    :error-messages="errors"
                    v-model="item.photo"
                    accept="image/png, image/jpeg, image/bmp"
                    placeholder="Seleccionar imagen"
                    prepend-icon="mdi-camera"
                    label="Imagen"
                    @change="getImg"
                  ></v-file-input>
                </validation-provider>
                <v-col
                  v-if="srcImg"
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-img :src="srcImg" width="164"></v-img>
                </v-col>
              </v-flex>
            </v-row>
            <br />

            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    loading: false,
    mBirthDay: false,
    birthDayFormatted: null,
    activePicker: null,
    srcImg: "",
  }),
  watch: {
    birthDay(val) {
      this.birthDayFormatted = this.formatDate(this.birthDay);
    },
    mBirthDay(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
  computed: {
    ...mapGetters(["person"]),

    birthDay: {
      get: function () {
        return this.item.birthday;
      },
      set: function (value) {
        this.item.birthday = value;
      },
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion de la persona seleccionada en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
      this.srcImg = "";
    },
    /**
     * Guardar Persona
     * Permite guardar el persona ya sea seleccionada o uno nueva
     *
     * @emit added - para agregar la persona creada en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        let p;
        switch (this.item.type) {
          case this.person.STUDENT:
            p = "student";
            break;
          case this.person.TEACHER:
            p = "teacher";
            break;
          case this.person.ADMINISTRATIVE:
            p = "administrative";
            break;
        }
        try {
          if (this.item.id) {
            res = await axios.put(`/${p}/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          } else {
            let formData = new FormData();
            formData.append("type", this.item.type);
            formData.append("lastName", this.item.lastName);
            formData.append("firstName", this.item.firstName);
            formData.append("dni", this.item.dni);
            formData.append("birthday", this.item.birthday);
            formData.append("gender", this.item.gender);
            formData.append("address", this.item.address);
            formData.append("phone", this.item.phone);
            if (this.item.photo) {
              formData.append("photo", this.item.photo);
            }
            formData.append("email", this.item.email);
            res = await axios.post(`/${p}`, formData);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        DNI: error.dni,
        "Fecha de Nacimiento": error.birthday,
        Sexo: error.gender,
        Telefono: error.phone,
        Dirección: error.address,
        Email: error.email,
        Foto: error.photo,
      });
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    /**
     * Mostrar imagen cargada
     *
     * @param {event} evento que se genera al seleccionar la imagen
     */
    getImg(event) {
      if (event) {
        const file = event.name;
        let reader = new FileReader();
        reader.addEventListener("load", () => {
          this.srcImg = reader.result;
        });
        reader.readAsDataURL(event);
      } else {
        this.srcImg = "";
      }
    },
  },
};
</script>