<template>
  <!-- Lista de menu -->
  <v-list-item-group :dark="true">
    <div v-for="(primary, index) in menu" :key="index">
      <div v-if="can(primary.can)">
        <v-list-item
          class="text-decoration-none"
          v-if="primary.sub.length == 0"
          :to="{ name: primary.route }"
        >
          <v-list-item-action>
            <v-icon class="white--text" v-text="primary.icon"></v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title
              class="menu-font white--text"
              v-text="primary.name"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group v-else>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon class="white--text" v-text="primary.icon"></v-icon>
            </v-list-item-action>
            <v-list-item-title class="menu-font white--text">{{
              primary.name
            }}</v-list-item-title>
          </template>

          <div v-for="(secondary, index) in primary.sub" :key="index">
            <div v-if="can(secondary.can)">
              <v-list-item
                class="text-decoration-none secondary-left"
                v-if="secondary.submenu.length == 0"
                :to="{ name: secondary.route }"
              >
                <v-list-item-action class="secondary-icon">
                  <v-icon class="white--text" v-text="secondary.icon"></v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title
                    class="menu-font white--text"
                    v-text="secondary.name"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-group v-else no-action sub-group>
                <template v-slot:activator>
                  <v-list-item-action>
                    <v-icon
                      class="secondary-icon white--text"
                      v-text="secondary.icon"
                    ></v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title class="menu-font white--text">{{
                      secondary.name
                    }}</v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item
                  class="text-decoration-none white--text"
                  v-for="(tertiary, index) in secondary.submenu"
                  :key="index"
                  :to="{ name: tertiary.route }"
                  link
                >
                  <div v-if="can(tertiary.can)">
                    <v-list-item-icon>
                      <v-icon
                        class="white--text"
                        v-text="tertiary.icon"
                      ></v-icon>
                    </v-list-item-icon>
                    <v-list-item-title
                      class="menu-font white--text"
                      v-text="tertiary.name"
                    ></v-list-item-title>
                  </div>
                </v-list-item>
              </v-list-group>
            </div>
          </div>
        </v-list-group>
      </div>
    </div>
  </v-list-item-group>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Menu",
  data: () => ({
    menu: [
      {
        name: "Mantenimiento",
        route: "",
        icon: "mdi-home-account",
        can: "menu.management",
        sub: [
          {
            name: "Estudiantes",
            route: "student",
            can: "students.list",
            icon: "mdi-account-settings",
            submenu: [],
          },
          {
            name: "Profesores",
            route: "teacher",
            can: "teachers.list",
            icon: "mdi-school",
            submenu: [],
          },
          {
            name: "Administrativos",
            route: "administrative",
            can: "administratives.list",
            icon: "mdi-account-circle",
            submenu: [],
          },
          {
            name: "Periodos",
            route: "period",
            can: "periods.list",
            icon: "mdi-wallet",
            submenu: [],
          },
        ],
      },
      {
        name: "Elecciones Escolares",
        route: "",
        icon: "mdi-rename-box",
        can: "menu.election",
        sub: [
          {
            name: "Agrupaciones",
            route: "group",
            can: "groups.list",
            icon: "mdi-account-group",
            submenu: [],
          },
          /*{
            name: "Candidatos",
            route: "permission",
            can: "candidates.list",
            icon: "mdi-hail",
            submenu: [],
          },*/
          /*{
            name: "Padron Electoral",
            route: "user",
            can: "elections.register",
            icon: "mdi-text-account",
            submenu: [],
          },*/
          {
            name: "Resultados Electorales",
            route: "result",
            can: "elections.result",
            icon: "mdi-google-analytics",
            submenu: [],
          },
          {
            name: "Cargos",
            route: "position",
            can: "positions.list",
            icon: "mdi-briefcase",
            submenu: [],
          },
        ],
      },
      {
        name: "Seguridad",
        route: "",
        icon: "mdi-security",
        can: "menu.security",
        sub: [
          {
            name: "Roles",
            route: "role",
            can: "roles.list",
            icon: "mdi-account-lock",
            submenu: [],
          },
          {
            name: "Usuarios",
            route: "user",
            can: "users.list",
            icon: "mdi-account",
            submenu: [],
          },
        ],
      },
      {
        name: "Recursos",
        route: "",
        icon: "mdi-collage",
        can: "menu.resource",
        sub: [
          {
            name: "Equipos y Mobiliario",
            route: "device",
            can: "devices.list",
            icon: "mdi-laptop-chromebook",
            submenu: [],
          },
          {
            name: "Solicitudes",
            route: "application",
            can: "application.list",
            icon: "mdi-clipboard-outline",
            submenu: [],
          },
          {
            name: "Reporte",
            route: "applicationReport",
            can: "reports.application",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
        ],
      },
      {
        name: "Reportes",
        route: "",
        icon: "mdi-poll-box",
        can: "menu.report",
        sub: [
          {
            name: "Reporte de Asistencia",
            route: "attendanceReport",
            can: "reports.attendance",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Reporte Estudiante",
            route: "studentReport",
            can: "reports.student",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Cuaderno de Incidencias",
            route: "notebook",
            can: "reports.notebook",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Reporte de Faltas",
            route: "absenceReport",
            can: "reports.absences",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
        ],
      },
      {
        name: "Sistema",
        route: "",
        icon: "mdi-cogs",
        can: "menu.system",
        sub: [
          {
            name: "Parámetros de Asistencia",
            route: "parameter",
            can: "parameters.list",
            icon: "mdi-file-cog",
            submenu: [],
          },
        ],
      },
      /* Ejemplo de elaborar menus de 3 y 1 nivel
      {
        name: "Menu 2",
        route: "role",
        can: "role.show",
        icon: "mdi-security",
        sub: [
          {
            name: "SubMenuTitle2",
            route: "role",
            can: "role.show",
            icon: "mdi-security",
            submenu: [
              {
                name: "SubMenu1",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
              {
                name: "SubMenu2",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
              {
                name: "SubMenu3",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
            ],
          },
          {
            name: "mdi-security",
            route: "role",
            can: "role.show",
            icon: "mdi-security",
            submenu: [],
          },
        ],
      },
      {
        name: "Menu 3",
        route: "role",
        can: "role.show",
        icon: "mdi-security",
        sub: [],
      },*/
    ],
  }),
  computed: {
    ...mapGetters(["can"]),
  },
};
</script>
<style scoped>
.text-decoration-none {
  text-decoration: none !important;
}
.secondary-left {
  padding-left: 13% !important;
}
.secondary-icon {
  margin-right: 10px !important;
}
.menu-font {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1rem;
}
</style>