<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title
          v-text="title + ': ' + item.fullName"
        ></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Periodo-->

            <v-row align="center">
              <v-flex cols="12" xs12 sm8>
                <validation-provider
                  v-slot="{ errors }"
                  name="Periodo"
                  rules="required|max:100"
                >
                  <v-combobox
                    v-model="lesson.period"
                    prepend-icon="mdi-account-group"
                    :items="periods"
                    :error-messages="errors"
                    label="Seleccionar Periodo"
                    return-object
                  >
                    <template v-slot:item="data">
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="data.item.name"
                        ></v-list-item-title>
                        <v-list-item-subtitle>
                          {{ data.item.year }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                    <template v-slot:selection="data">
                      <div>
                        {{ data.item.name + " - " + data.item.year }}
                      </div>
                    </template>
                    <template v-slot:no-data>
                      <v-col cols="12"> Elemento no encontrado </v-col>
                    </template>
                  </v-combobox>
                </validation-provider>
              </v-flex>

              <!--Grado y Seccion-->
              <v-flex cols="12" xs6 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Grado"
                  rules="required|max:1"
                >
                  <v-select
                    :error-messages="errors"
                    v-model="lesson.grade"
                    prepend-icon="mdi-account"
                    :items="['1', '2', '3', '4', '5']"
                    label="Grado"
                  ></v-select>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs6 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Sección"
                  rules="required|max:1"
                >
                  <v-select
                    :error-messages="errors"
                    v-model="lesson.section"
                    prepend-icon="mdi-account"
                    :items="['A', 'B']"
                    label="Sección"
                  ></v-select>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
        <br />
        <v-simple-table>
          <template v-slot:default>
            <thead class="black">
              <tr>
                <th class="text-left white--text subtitle-1 font-weight-bold">
                  Periodo
                </th>
                <th class="text-left white--text subtitle-1 font-weight-bold">
                  Grado
                </th>
                <th class="text-left white--text subtitle-1 font-weight-bold">
                  Sección
                </th>
                <th class="text-left white--text subtitle-1 font-weight-bold">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(lesson, index) in item.periods" :key="index">
                <td>{{ lesson.name }} - {{ lesson.year }}</td>
                <td>{{ lesson.pivot.grade }}</td>
                <td>{{ lesson.pivot.section }}</td>
                <td width="120">
                  <v-tooltip top v-if="can(security.lessonsUpdate)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        color="success"
                        v-bind="attrs"
                        v-on="on"
                        @click="showItem(lesson)"
                      >
                        mdi-pencil-box-multiple
                      </v-icon>
                    </template>
                    <span>Editar</span>
                  </v-tooltip>
                  <v-tooltip top v-if="can(security.lessonsDelete)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        color="error"
                        v-bind="attrs"
                        v-on="on"
                        @click="deleteItem(lesson)"
                      >
                        mdi-trash-can
                      </v-icon>
                    </template>
                    <span>Eliminar</span>
                  </v-tooltip>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
    <Delete
      v-if="can(security.lessonDelete)"
      title="Eliminar Grado y Sección"
      :dialog="remove"
      :item="lesson"
      @close="remove = false"
      @deleted="destroy"
    />
  </v-dialog>
</template>

<script>
import Delete from "./Deletelesson";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Delete,
  },
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    loading: false,
    periods: [],
    lesson: {},
    remove: false,
  }),
  computed: {
    ...mapGetters(["person", "currentPeriod", "can", "security"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion de la persona seleccionada en la lista principal
     */
    close() {
      this.$emit("close");
      this.$emit("edited", this.item);
      this.$refs.observer.reset();
    },
    /**
     * Guardar Persona
     * Permite guardar el persona ya sea seleccionada o uno nueva
     *
     * @emit added - para agregar la persona creada en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        this.lesson.student = this.item;
        try {
          if (this.lesson.id) {
            res = await axios.put(`/lesson/${this.lesson.id}`, this.lesson);
            if (res.status === 200) {
              this.loading = false;
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.$emit("edited", this.item);
            }
          } else {
            res = await axios.post(`/lesson`, this.lesson);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.$emit("edited", this.item);
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Periodo: error.period,
        Grado: error.grade,
        Sección: error.section,
      });
    },
    /**
     *Listar los periodos registrados
     */
    async listPeriods() {
      let res = await axios.get("/periods");
      this.periods = res.data;
    },
    /**
     * Buscar periodos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listPeriods, 360);
    },
    /**
     * Abrir dialog para editar grado y seccion
     */
    async showItem(lesson) {
      let res = await axios.get(`/lesson/${lesson.pivot.id}`, lesson.pivot);
      if (res.status === 200) {
        this.lesson=res.data.lesson;
      }
    },
    /**
     * Abrir dialog para eliminar grado y seccion
     *
     * @param {object} lesson - grado y seccion a ser eliminado
     */
    deleteItem(lesson) {
      this.remove = true;
      this.lesson = lesson;
      this.lesson.period = this.currentPeriod;
    },
    /**
     * Eliminar item de la lista de grado y seccion
     *
     * @param {object} data - grado y seccion a ser eliminado
     */
    destroy(data) {
      this.$emit("edited", this.item);
    },
  },
  mounted() {
    this.listPeriods();
    this.lesson.period = this.currentPeriod;
  },
};
</script>