<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Resultados Electorales</h1>
      <h3 class="title-page black--text" v-if="period">{{ period.name }}</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md6>
          <v-tooltip top v-if="can(security.elesctionsResult)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn
                v-bind="attrs"
                v-on="on"
                @click="exportPdf"
                color="red"
                dark
              >
                <v-icon left>mdi-file-pdf-box</v-icon>
                <span>PDF</span>
              </v-btn>
            </template>
            <span>Exportar en PDF</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md6>
          <v-combobox
            v-model="period"
            prepend-icon="mdi-account-group"
            :items="periods"
            label="Seleccionar Periodo"
            return-object
          >
            <template v-slot:item="data">
              <v-list-item-content>
                <v-list-item-title v-html="data.item.name"></v-list-item-title>
                <v-list-item-subtitle>
                  {{ data.item.year }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
            <template v-slot:selection="data">
              <div>
                {{ data.item.name + " - " + data.item.year }}
              </div>
            </template>
            <template v-slot:no-data>
              <v-col cols="12"> Elemento no encontrado </v-col>
            </template>
          </v-combobox>
        </v-flex>
      </v-row>
      <br />
      <v-row cols="12" ref="report" id="report">
        <v-col cols="12">
          <v-simple-table>
            <template v-slot:default>
              <thead class="black">
                <tr>
                  <th class="text-left white--text subtitle-1 font-weight-bold">
                    Agrupación Política
                  </th>
                  <th class="text-left white--text subtitle-1 font-weight-bold">
                    Símbolo
                  </th>
                  <th class="text-left white--text subtitle-1 font-weight-bold">
                    Votos
                  </th>
                  <th class="text-left white--text subtitle-1 font-weight-bold">
                    Porcentaje
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in list.data.data" :key="item.id">
                  <td>{{ item.name }}</td>
                  <td>
                    <v-img width="80" :src="item.picture"></v-img>
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.percent }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
        <v-col cols="12">
          <v-simple-table>
            <template v-slot:default>
              <tr>
                <td width="70%"></td>
                <td>
                  <b>Total Estudiantes: </b><br />
                  <b>Votos Emitidos: </b><br />
                  <b>Participación: </b><br />
                  <b>Ausentismo: </b>
                </td>
                <td>
                  {{ list.data.total }} <br />
                  {{ list.data.quantity }} <br />
                  {{ list.data.participation }} % <br />
                  {{ list.data.absenteeism }} %
                </td>
              </tr>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    period: {},
    save: false,
    remove: false,
    permission: false,
    periods: [],
  }),
  computed: {
    ...mapGetters(["security", "can", "currentPeriod"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los periodos
     */
    async listAll() {
      let res = await axios.get("/vote", {
        params: this.period,
      });
      this.list = res;
      this.load = false;
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let route = this.$router.resolve({ path: `result/${this.period.id}` });
      window.open(route.href, '_blank');
    },
  },
  mounted() {
    this.period = this.currentPeriod;
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.main-title-elections {
  color: #000;
  border-radius: 5px;
  /*background-color: rgb(0, 0, 0);*/
  padding: 10px;
  margin: 0;
  /*top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
  width: 100%;
  display: inline-block;
}
.main-center {
  float: left;
  width: 80%;
}
.header-elections {
  border-radius: 5px;
  /*position: absolute;*/
  margin: 1% 2%;
  /*top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
  width: 96%;
  text-align: center;
  font-weight: 900;
}
.main-left {
  float: left;
}
.main-right {
  float: right;
}
</style>