<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title>Asignar Recurso {{ item.type }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <v-form @submit.prevent="save">
            <h5 v-if="item.teacher">
              {{ item.teacher.fullName }}
            </h5>
            <v-row>
              <v-col cols="8">
                <validation-provider
                  v-slot="{ errors }"
                  name="Recurso"
                  rules="required"
                >
                  <v-autocomplete
                    hide-selected
                    prepend-icon="mdi-clipboard-outline"
                    :error-messages="errors"
                    v-model="item.device"
                    :items="devices"
                    label="Recurso"
                    item-text="code"
                    return-object
                    append-icon="mdi-barcode-scan"
                    @click:append="openScan"
                  >
                  </v-autocomplete>
                </validation-provider>
              </v-col>
              <v-col cols="4">
                <validation-provider
                  v-slot="{ errors }"
                  name="Pedido"
                  rules="required"
                >
                  <v-text-field
                    type="number"
                    v-model="item.quantity"
                    :error-messages="errors"
                    label="Cantidad"
                    prepend-icon="mdi-clipboard-outline"
                  ></v-text-field>
                </validation-provider>
              </v-col>
            </v-row>

            <validation-provider
              v-slot="{ errors }"
              name="Pedido"
              rules="required"
            >
              <v-text-field
                v-model="item.device.name"
                :error-messages="errors"
                label="Nombre"
                prepend-icon="mdi-clipboard-outline"
                readonly
              ></v-text-field>
            </validation-provider>
            <v-menu
              ref="mDate"
              v-model="mDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha"
                  rules="required"
                >
                  <v-text-field
                    v-model="dateFormatted"
                    :error-messages="errors"
                    label="Fecha de Utilización"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="date = parseDate(dateFormatted)"
                    v-on="on"
                    prepend-icon="mdi-clipboard-outline"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="date"
                no-title
                @input="mDate = false"
              ></v-date-picker>
            </v-menu>
            <v-row>
              <v-col xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Grado"
                  rules="required"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.grade"
                    prepend-icon="mdi-clipboard-outline"
                    :items="[
                      'Primero',
                      'Segundo',
                      'Tercero',
                      'Cuarto',
                      'Quinto',
                    ]"
                    label="Grado"
                  ></v-combobox>
                </validation-provider>
              </v-col>
              <v-col xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Sección"
                  rules="required"
                >
                  <v-combobox
                    :error-messages="errors"
                    v-model="item.section"
                    prepend-icon="mdi-clipboard-outline"
                    :items="['A', 'B']"
                    label="Sección"
                  ></v-combobox>
                </validation-provider>
              </v-col>
            </v-row>
            <validation-provider
              v-slot="{ errors }"
              name="Aula"
              rules="required"
            >
              <v-combobox
                :error-messages="errors"
                v-model="item.place"
                prepend-icon="mdi-clipboard-outline"
                :items="[
                  'Aula TIC',
                  'Aula de Quechua',
                  'Aula de Inglés',
                  'Aula de Matemática',
                  'Aula de Comunicación',
                  'Aula de DPCC',
                  'Aula de CCSS',
                  'Aula de CT',
                  'Aula de Arte y Cultura',
                  'Aula de Ed. Física',
                  'Aula de Religión',
                  'Taller de Mecánica',
                  'Taller de Carpintería',
                  'Taller de Confexión Textil',
                  'SUM',
                  'Coordinación',
                  'Dirección',
                  'Secretaría',
                ]"
                label="Aula"
              ></v-combobox>
            </validation-provider>
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar</v-btn
              >
            </div>
          </v-form>
        </validation-observer>
      </v-card-text>
    </v-card>
    <Scan
      v-if="can(security.devicesCode)"
      ref="scan"
      :dialog="scan"
      :item="item"
      @close="scan = false"
      @result="getResult"
    />
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import Scan from "./Scan.vue";

export default {
  props: ["title", "item", "dialog"],
  components: {
    Scan,
  },
  data: () => ({
    loading: false,
    mDate: false,
    dateFormatted: null,
    devices: [],
    scan: false,
  }),
  computed: {
    ...mapGetters(["security", "can"]),
    date: {
      get: function () {
        this.dateFormatted = this.formatDate(this.item.date);
        return this.item.date;
      },
      set: function (value) {
        this.item.date = value;
      },
    },
  },

  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del usuario seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Registrar Pedido
     *
     */

    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        try {
          this.loading = true;
          let res = await axios.put(`/application/${this.item.id}`, this.item);
          if (res.status == 200) {
            this.showAlert({
              color: "success",
              text: res.data.message,
              timeout: 5000,
            });
            this.close();
          }
          this.loading = false;
        } catch (error) {
          this.showAlert({
            color: "error",
            text: "Hubo un error al registrar la solicitud",
          });
          this.loading = false;
        }
      }
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    /**
     * Listar todos los profesores
     */
    async listDevices() {
      let res = await axios.get("/devices");
      this.devices = res.data;
    },
    openScan() {
      this.scan = true;
      this.$refs.scan.unpause();
    },
    async getResult(data) {
      try {
        let res = await axios.get("/device-code", {
          params: { code: data },
        });
        if (res.status == 200) {
          this.item.device = res.data;
        }
      } catch (error) {
        this.showAlert({
          color: "error",
          text: "Hubo un error al buscar recurso",
        });
      }
    },
  },
  mounted() {
    this.listDevices();
  },
};
</script>

<style lang="css" scoped>
</style>