<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Recursos</h1>
      <h3 class="title-page black--text">Solucitudes</h3>
      <hr />
      <br />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-tooltip top v-if="can(security.applicationsCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar Solicitud</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md2 pr-3>
          <v-checkbox
            v-model="all"
            label="Ver Todo"
            color="success"
            @change="listAll"
          ></v-checkbox>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md2 pr-3>
          <v-menu
            ref="mDate"
            v-model="mDate"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <validation-provider
                v-slot="{ errors }"
                name="Fecha"
                rules="required"
              >
                <v-text-field
                  v-model="dateFormatted"
                  :error-messages="errors"
                  label="Fecha"
                  hint="Formato DD/MM/YYYY"
                  readonly
                  v-bind="attrs"
                  @blur="date = parseDate(dateFormatted)"
                  v-on="on"
                ></v-text-field>
              </validation-provider>
            </template>
            <v-date-picker
              ref="picker"
              v-model="date"
              no-title
              @input="mDate = false"
              @change="listAll"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4 pr-3>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <v-container class="my-5">
        <v-card class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col v-for="item in list.data" :key="item.id" cols="12">
                <v-card>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <div class="d-flex d-sm-none justify-center fill-width">
                        <v-avatar class="ma-3" size="150" tile>
                          <v-img src="/img/devices/device.png"> </v-img>
                        </v-avatar>
                      </div>
                      <v-card-title class="headline">
                        Pedido {{ item.id }} - {{ item.teacher.fullName }}
                      </v-card-title>
                      <v-card-text>
                        <div class="font-weight-normal">
                          <strong>Pedido: </strong>
                          {{ item.type }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Cantidad: </strong>
                          {{ item.quantity }}
                        </div>
                        <div class="font-weight-normal" v-if="item.date">
                          <strong>Fecha de Uso: </strong>
                          {{ item.date | moment("DD/MM/YYYY") }}
                        </div>
                        <div class="font-weight-normal" v-else>
                          <strong>Fecha de Uso: </strong>
                        </div>
                        <div class="font-weight-normal">
                          <strong>Grado: </strong> {{ item.grade }}
                        </div>

                        <div class="font-weight-normal">
                          <strong>Sección: </strong> {{ item.section }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Hora Inicio: </strong>
                          {{ item.delivery }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Hora Fin: </strong> {{ item.reception }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Aula: </strong> {{ item.place }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Observación: </strong> {{ item.detail }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Registro: </strong>
                          {{
                            item.created_at | moment("DD/MM/YYYY hh:mm:ss a")
                          }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Estado: </strong>
                          <v-chip
                            class="ma-2"
                            color="red"
                            dark
                            v-if="item.state == 'Registrado'"
                            @click="assignResorce(item)"
                          >
                            {{ item.state }} por el Docente
                          </v-chip>
                          <v-chip
                            class="ma-2"
                            color="orange"
                            dark
                            v-if="item.state == 'Recibido'"
                            @click="returnResource(item)"
                          >
                            {{ item.state }} por el Docente
                          </v-chip>
                          <v-chip
                            class="ma-2"
                            color="green"
                            dark
                            v-if="item.state == 'Devuelto'"
                          >
                            {{ item.state }} por el Docente
                          </v-chip>
                        </div>
                      </v-card-text>
                      <v-card-actions>
                        <v-tooltip top v-if="can(security.applicationsUpdate)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="showItem(item)"
                              color="success"
                            >
                              <v-icon>mdi-pencil-box-multiple</v-icon>
                            </v-btn>
                          </template>
                          <span>Editar Pedido: {{ item.id }}</span>
                        </v-tooltip>
                        <v-tooltip top v-if="can(security.applicationsDelete)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="deleteItem(item)"
                              color="error"
                            >
                              <v-icon>mdi-trash-can</v-icon>
                            </v-btn>
                          </template>
                          <span>Eliminar Pedido: {{ item.login }}</span>
                        </v-tooltip>
                      </v-card-actions>
                    </div>

                    <div class="align-self-center fill-height">
                      <v-avatar class="d-none d-sm-flex ma-3" size="200" tile>
                        <v-img src="/img/devices/device.png"> </v-img>
                      </v-avatar>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-container>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="
          can(security.applicationsCreate) || can(security.applicationsUpdate)
        "
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        title="Eliminar Pedido"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
      <Assign
        v-if="can(security.applicationsUpdate)"
        :dialog="assign"
        :item="item"
        @close="assign = false"
        @edited="restore"
      />
      <Return
        v-if="can(security.applicationsUpdate)"
        :dialog="returnDevice"
        :item="item"
        @close="returnDevice = false"
        @edited="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Assign from "./Assign";
import Return from "./Return";
import Delete from "./Delete";
import moment from "moment";

import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
    Assign,
    Return,
  },
  data: (vm) => ({
    list: [],
    load: true,
    item: {},
    save: false,
    assign: false,
    returnDevice: false,
    remove: false,
    saveTitle: "",
    search: "",
    mDate: false,
    dateFormatted: vm.formatDate(
      new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10)
    ),
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    all: false,
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los pedidos
     */
    async listAll(page = 1) {
      let res = await axios.get("/application?page=" + page, {
        params: { find: this.search, viewAll: this.all, date: this.date },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar solicitudes al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear un pedido
     */
    open() {
      this.item = {
        type: "",
        date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10), //new Date().toISOString().substr(0, 10),
        grade: "",
        section: "",
        place: "",
      };
      this.saveTitle = "Nuevo Pedido";
      this.save = true;
    },
    /**
     * Abrir dialog para editar pedido
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Pedido";
      this.save = true;
    },
    /**
     * Agregar item a la lista de pedidos
     *
     * @param {object} data - pedido agregado
     */
    add(data) {
      this.list.data.unshift(data.application);
      this.item = data.application;
    },
    /**
     * Cargar pedido del servidor
     *
     * @param {object} data - pedido seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/application/${data.id}`, data);
      if (res.status === 200) {
        this.item.type = res.data.application.type;
        this.item.date = res.data.application.date;
        this.item.delivery = res.data.application.delivery;
        this.item.reception = res.data.application.reception;
        this.item.quantity = res.data.application.quantity;
        this.item.grade = res.data.application.grade;
        this.item.section = res.data.application.section;
        this.item.place = res.data.application.place;
        this.item.state = res.data.application.state;
      }
    },
    /**
     * Abrir dialog para eliminar pedido
     *
     * @param {object} item - pedido a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de pedidos
     *
     * @param {object} data - pedido a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },

    assignResorce(item) {
      this.item = item;
      this.item.device = {};
      this.assign = true;
    },

    returnResource(item) {
      this.item = item;
      this.returnDevice = true;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>