<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title>Recoger Recurso</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <v-form @submit.prevent="save">
            <h5 v-if="item.teacher">
              {{ item.teacher.fullName }} -
              {{ item.grade + " " + item.section }}
            </h5>
            <h6>{{ item.place }} {{ item.date | moment("DD/MM/YYYY") }}</h6>
            <v-row>
              <v-col cols="8">
                <validation-provider
                  v-slot="{ errors }"
                  name="Recurso"
                  rules="required"
                >
                  <v-text-field
                    prepend-icon="mdi-clipboard-outline"
                    :error-messages="errors"
                    v-model="item.device.code"
                    label="Recurso"
                    readonly
                  >
                  </v-text-field>
                </validation-provider>
              </v-col>
              <v-col cols="4">
                <validation-provider
                  v-slot="{ errors }"
                  name="Pedido"
                  rules="required"
                >
                  <v-text-field
                    type="number"
                    v-model="item.quantity"
                    :error-messages="errors"
                    label="Cantidad"
                    prepend-icon="mdi-clipboard-outline"
                    readonly
                  ></v-text-field>
                </validation-provider>
              </v-col>
            </v-row>

            <validation-provider
              v-slot="{ errors }"
              name="Pedido"
              rules="required"
            >
              <v-text-field
                v-model="item.device.name"
                :error-messages="errors"
                label="Nombre"
                prepend-icon="mdi-clipboard-outline"
                readonly
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Observación"
              rules="required"
            >
              <v-textarea
                :error-messages="errors"
                v-model="item.detail"
                prepend-icon="mdi-clipboard-outline"
                label="Observación"
              ></v-textarea>
            </validation-provider>
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar</v-btn
              >
            </div>
          </v-form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  props: ["title", "item", "dialog"],
  components: {},
  data: () => ({
    loading: false,
    mDate: false,
    dateFormatted: null,
  }),
  computed: {
    date: {
      get: function () {
        this.dateFormatted = this.formatDate(this.item.date);
        return this.item.date;
      },
      set: function (value) {
        this.item.date = value;
      },
    },
  },

  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del usuario seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Registrar Pedido
     *
     */

    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        try {
          this.loading = true;
          let res = await axios.put(`/application/${this.item.id}`, this.item);
          if (res.status == 200) {
            this.showAlert({
              color: "success",
              text: res.data.message,
              timeout: 5000,
            });
            this.close();
          }
          this.loading = false;
        } catch (error) {
          this.showAlert({
            color: "error",
            text: "Hubo un error al registrar la solicitud",
          });
          this.loading = false;
        }
      }
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
};
</script>

<style lang="css" scoped>
</style>