<template>
  <v-dialog v-model="dialog" max-width="400" persistent>
    <v-card>
      <v-app-bar flat color="rgba(0, 0, 0, 0)">
        <v-toolbar-title class="text-h6 pl-0"> Escanear QR </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <div class="form-container-cam">
          <qrcode-stream :camera="camera" @decode="onDecode" @init="onInit">
            <div v-if="validationSuccess" class="validation-success">
              Acceso Correcto
            </div>

            <div v-if="validationFailure" class="validation-failure">
              Error de acceso
            </div>

            <div v-if="validationPending" class="validation-pending">
              Procesando...
            </div>
          </qrcode-stream>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["dialog"],
  data: () => ({
    camera: "auto",
    result: null,
    showScanConfirmation: false,
    isValid: undefined,
  }),
  computed: {
    validationPending() {
      return this.isValid === undefined && this.camera === "off";
    },

    validationSuccess() {
      return this.isValid === true;
    },

    validationFailure() {
      return this.isValid === false;
    },
  },
  methods: {
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del rol seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      this.pause()
    },
    //metodos del lector de qr
    async onInit(promise) {
      try {
        await promise;
      } catch (e) {
        console.error(e);
      } finally {
        this.showScanConfirmation = this.camera === "off";
      }
    },

    async onDecode(content) {
      this.result = content;
      this.$emit("result",this.result);
      this.close();
    },

    unpause() {
      this.camera = "auto";
    },

    pause() {
      this.camera = "off";
    },

    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
  },
};
</script>
<style lang="css" scoped>
/*-----------------------------------------
  Estilos lector QR
  -----------------------------------------*/
.scan-confirmation {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.validation-success,
.validation-failure,
.validation-pending {
  height: 100%;
  width: 100%;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.validation-pending {
  color: yellow;
}
.validation-success {
  color: green;
}
.validation-failure {
  color: red;
}
</style>