<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Mantenimiento</h1>
      <h3 class="title-page black--text">Administrativos</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.administrativesCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar Administrativo</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
          <div v-show="false">
            <input
              type="file"
              ref="picture"
              accept="image/png, image/jpeg, image/bmp"
              label="Avatar"
              @change="uploadPicture"
            /><input />
          </div>
        </v-flex>
      </v-row>
      <v-container class="my-5">
        <v-card class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col v-for="item in list.data" :key="item.id" cols="12">
                <v-card>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <div class="d-flex d-sm-none justify-center fill-width">
                        <v-avatar class="ma-3" size="150" tile>
                          <v-img :src="item.picture">
                            <v-tooltip top v-if="can(security.administrativesPicture)">
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  icon
                                  color="black"
                                  @click="editPicture(item)"
                                >
                                  <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                              </template>
                              <span>Editar Foto</span>
                            </v-tooltip>
                          </v-img>
                        </v-avatar>
                      </div>
                      <v-card-title
                        class="headline"
                        v-text="item.lastName + ' ' + item.firstName"
                      ></v-card-title>
                      <v-card-text>
                        <div class="font-weight-normal">
                          <strong>Apellidos:</strong> {{ item.lastName }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Nombres:</strong> {{ item.firstName }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>DNI:</strong> {{ item.dni }}
                        </div>
                        <div class="font-weight-normal" v-if="item.birthday">
                          <strong>Fecha de Nacimiento:</strong>
                          {{ item.birthday | moment("DD/MM/YYYY") }}
                        </div>
                        <div class="font-weight-normal" v-else>
                          <strong>Fecha de Nacimiento:</strong>
                        </div>
                        <div class="font-weight-normal">
                          <strong>Sexo:</strong> {{ item.gender }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Dirección:</strong> {{ item.address }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Telefono:</strong> {{ item.phone }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>E-mail:</strong> {{ item.email }}
                        </div>
                      </v-card-text>
                      <v-card-actions>
                        <v-tooltip top v-if="can(security.administrativesUpdate)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="showItem(item)"
                              color="success"
                            >
                              <v-icon>mdi-pencil-box-multiple</v-icon>
                            </v-btn>
                          </template>
                          <span
                            >Editar Administrativo:
                            {{ item.firstName + " " + item.lastName }}</span
                          >
                        </v-tooltip>
                        <v-tooltip top v-if="can(security.administrativesDelete)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="deleteItem(item)"
                              color="error"
                            >
                              <v-icon>mdi-trash-can</v-icon>
                            </v-btn>
                          </template>
                          <span>Eliminar Administrativo: {{ item.firstName + " " + item.lastName }}</span>
                        </v-tooltip>
                      </v-card-actions>
                    </div>

                    <div class="align-self-center fill-height">
                      <v-avatar class="d-none d-sm-flex ma-3" size="200" tile>
                        <v-img :src="item.picture">
                          <v-tooltip top v-if="can(security.administrativesPicture)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                icon
                                color="black"
                                @click="editPicture(item)"
                              >
                                <v-icon>mdi-pencil</v-icon>
                              </v-btn>
                            </template>
                            <span>Editar Foto</span>
                          </v-tooltip>
                        </v-img>
                      </v-avatar>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-container>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.administrativesCreate) || can(security.administrativesUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.administrativesDelete)"
        title="Eliminar Administrativo"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "../person/Save";
import Delete from "../person/Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    change: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "person", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los administrativos
     */
    async listAll(page = 1) {
      let res = await axios.get("/administrative?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar administrativos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear un administrativo
     */
    open() {
      this.item = {
        type:this.person.ADMINISTRATIVE,
        lastName: "",
        firstName: "",
        dni: "",
        birthday: "",
        gender: "Hombre",
        address: "",
        phone: "",
        photo: null,
        picture: "",
        email: "",
      };
      this.saveTitle = "Crear Nuevo Administrativo";
      this.save = true;
    },
    /**
     * Abrir dialog para editar administrativo
     */
    showItem(item) {
      this.item = item;
      this.item.photo = null;
      this.saveTitle = "Editar Administrativo";
      this.save = true;
    },
    /**
     * Agregar item a la lista de administrativos
     *
     * @param {object} data - administrativo agregado
     */
    add(data) {
      this.list.data.unshift(data.administrative);
      this.item = data.administrative;
    },
    /**
     * Cargar administrativo del servidor
     *
     * @param {object} data - administrativo seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/administrative/${data.id}`, data);
      if (res.status === 200) {
        this.item.type = res.data.administrative.type;
        this.item.firstName = res.data.administrative.firstName;
        this.item.lastName = res.data.administrative.lastName;
        this.item.dni = res.data.administrative.dni;
        this.item.birthday = res.data.administrative.birthday;
        this.item.gender = res.data.administrative.gender;
        this.item.address = res.data.administrative.address;
        this.item.phone = res.data.administrative.phone;
        this.item.picture = res.data.administrative.picture;
        this.item.email = res.data.administrative.email;
      }
    },
    /**
     * Abrir dialog para eliminar administrativo
     *
     * @param {object} item - administrativo a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de administrativos
     *
     * @param {object} data - administrativo a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    /**
     * Abrir inputdialog para guardar imagen
     */
    editPicture(item) {
      this.$refs.picture.click();
      this.item = item;
    },
    /**
     * Actualizar imagen del administrativo
     *
     * @param {event} evento que se presenta al selecciona la imagen en el input dialog
     */
    async uploadPicture(event) {
      let formData = new FormData();
      formData.append("photo", event.target.files[0]);
      this.$refs.picture.value = null;

      let res = await axios.post(`/administrative/${this.item.id}/photo`, formData);
      if (res.status === 200) {
        this.showAlert({
          color: "success",
          text: res.data.message,
        });
        this.item.picture = res.data.administrative.picture;
      }
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>